<h3>Welcome to Baked!</h3>

<p>
	<span style="float:right">
		<% if user_signed_in? %>
			Logged in as <strong><%= current_user.email %></strong>
			<% link_to "Logout", destroy_user_session_path, :method => :delete %>
		<% else %>
			<% link_to "Signup", new_user_registration_path %> | 
			<% link_to "Login", user_session_path %>
		<% end %>
	</span>
</p>