<p>Welcome to Baked!  This application was built by Susing Yin, a student at General Assembly.</p>

<p>The purpose of this application is for home bakers to be able to sell their home-baked goods online!  It's like Etsy, but for baking! :)</p>

<p>This is the first version of the application.  Users are currently able to access the applicaton via authentication and can add, update, and delete baked goods and reviews.  Future versions will have the following updates:</p>
<ul>
	<li>Gem paypal-sdk-merchant</li>
	<li>Gem gmaps4rails</li>
	<li>Gem geocoder </li>
	<li>Gem ajaxful_rating</li>
	<li>Omniauth using Facebook, Google+, Twitter, PayPal, etc.</li>
</ul>

<p>Special thanks to the awesome instructors and TAs Brian Fountain, Kat Santiago, and Keyan Bagheri!  I'd also like to thank my friends, family, and classmates for all the support!</p>

<p>If you have any questions or concerns, please feel free to contact Susing at <a href="mailto:susingyin@gmail.com">susingyin[at]gmail.com</a>.