<br />
	<strong>Review:</strong>
	<%= review.description %>


<br />
	<strong>Rating:</strong>
	<%= review.stars %>
<p>
	<%= link_to 'Delete Review', [review.product, review],
	               method: :delete,
	               data: { confirm: 'Are you sure?' } %>
</p>