
<div="main">
	<h1>Reviews#index</h1>
	<p>Find me in app/views/reviews/index.html.erb</p>

	<% @reviews.each do |review| %>

	Rating:  <%= review.stars %>
	<p><%= link_to review.description, review %></p>

	<% end %>

</div>